# ------------------------------
# Python cache files
# ------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------
# Virtual environments
# ------------------------------
venv/
.venv/
env/
ENV/
.env

# ------------------------------
# Git / VCS
# ------------------------------
.git
.gitignore

# ------------------------------
# Logs and temp files
# ------------------------------
*.log
*.pid
*.gz
*.swp
*.bak
*.tmp

# ------------------------------
# OS / Editor files
# ------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# ------------------------------
# Kubernetes / CI
# ------------------------------
k8s/
workspace/
